@media (max-width: 1200px) {
  .creative__first__img{
    width: 95%;
  }
  .creative__second__title {
    font-size: 28px;
  }
  .main__right__bc {
    top: 164px;
    left: 37%;
    max-width: 754px;
  }
  .email__reg__right {
    width: 59%;
  }
}
@media (max-width: 1100px) {
  .product__arrow__img {
    left: 594px;
  }
  .product__gallery__box{
    width: 385px;
  }
  .product__gallery__box__bot{
    width: 385px;
  }

  .product__gallery__img{
    margin: 0 auto;
    display: block;
  }


  .creative__second__paragraph {
    font-size: 14px;
  }
  .product__gallery {
    padding-left: 80px;
  }

  .fonts__row {
    column-gap: 15px;
  }
  .footer__row {
    column-gap: 55px;
  }
  .main__right__bc {
    left: 43%;
    width: 58%;
  }
  .options__content__box-img {
    width: 90%;
  }
  .email__reg__right {
    width: 57%;
    left: 45%;

  }

}
@media (max-width: 1050px) {
  .main__right__girl {
    left: 40%;
  }
  .product__arrow__img {
    left: 570px;
  }

  .main__left__info__text {
    font-size: 13px;
  }
  .main__left__info__arrow {
    top: 290px;
  }
  .main__left__info {
    left: 20px;
  }
  .main__left__paragraph {
    margin-left: 20px;
  }
  .options__caption {
    column-gap: 89px;
  }

  .main__right__bc {
    top: 238px;
    max-width: 640px;
  }
  .options__content__box-img {
    width: 86%;

  }

  .creative__first {
    top: 100px;
  }
  .creative__second__paragraph {
    font-size: 12px;
  }
  .email__reg__right {
    width: 56%;
  }
  .email__reg__right__form {
    column-gap: 28px;
  }
  .email__reg__right__line {
    top: -28px;
  }
  .email__reg__right__address input {
    width: 489px;
  }
  .email__reg__left__bc{
    width: 470px;
    height: 548px;
  }
  .footer__row__second__list__item__link {
    font-size: 14px;
  }
  .fonts__row__img{
    width: 240px;
  }
}
@media (max-width: 980px) {
  .main__right__girl {
    left: 38%;
  }
  .main__left__info__text {
    font-size: 11px;
  }
  .main__left__info__title {
     font-size: 52px;
  }
  .options__content__box-img {
    width: 89%;
  }
  .main__left__info__img{
    position: absolute;
    top: -20px;
  }
  .main__left__info__arrow {
    top: 253px;
    left: 190px;
  }

  .creative__second__title {
    font-size: 20px;
  }
  .creative__second__paragraph {
    font-size: 10px;
  }
  .creative__second__text {
    font-size: 18px;
  }
  .product__arrow__img {
    left: 533px;
  }
  .main__right__bc {
    top: 209px;
    left: 41%;
    max-width: 573px;
  }
  .email__reg__right {
    left: 45%;
  }
  .email__reg__right__box__title {
    font-size: 29px;
  }
  .email__reg__right__form__input {
    width: 207px;
  }
  .email__reg__right__address input {
    width: 438px;
  }
  .fonts__row__img {
    width: 230px;
  }
  .email__reg__right__checkbox__button {
    margin-left: 72px;
  }
  .footer__row__first__text {
    font-size: 13px;
  }
  .footer__row__four__mail input {
    width: 245px;
  }
  .email__reg__left__bc {
    width: 444px;
  }
}
@media (max-width: 900px) {
  .main__right__girl {
    top: 134px;
    left: 37%;
    width: 68%;
    max-width: 585px;
  }
  .main__left__info__arrow {
    left: 157px;
    top: 211px;
  }
  .main__left__info__title {
    font-size: 39px;
  }
  .main__left__info__img {
    top: -44px;
    left: -40px;
  }
  .options__item {
    font-size: 17px;
}

  .creative__second__paragraph {
    font-size: 9px;
  }
  .creative__second__text {
    font-size: 14px;
  }
  .product__gallery {
    column-gap: 93px;
  }
  .product__arrow__img {
    left: 483px;
  }
  .email__reg__left__img {
    left: -20px;

  }
  .email__reg__left__bc {
    width: 406px;
  }
  .email__reg__right {
    width: 53%;
  }
  .email__reg__right__box__title {
    font-size: 24px;
  }
  .email__reg__right__form__input {
    width: 180px;
  }
  .email__reg__right__address input {
    width: 390px;
  }
  .email__reg__right__checkbox__button {
    margin-left: 25px;
    width: 129px;
    font-size: 13px;
    height: 40px;
  }

  .fonts__row__img {
    width: 203px;
  }
  .footer__row__four__mail input {
    width: 162px;
  }
  .main {
    height: 638px;
  }
  .main__left__info__arrow {
    width: 180px;
  }
  .main__right__girl {
    top: 174px;
  }
  .main__left__info__text {
    font-size: 9px;
  }
  .main__left__info__img {
    width: 200px;
  }

  .creative__row {
    column-gap: 66px;
  }
  .product__arrow__img {
    left: 446px;
  }
  .email__reg__left__img {
    left: -49px;
  }
  .email__reg__left__bc {
    width: 372px;
  }
  .email__reg__right__form {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }
  .email__reg__right__form__input {
    width: 360px;
  }
  .email__reg__right__address input {
    width: 360px;
  }
  .email__reg__right__checkbox span {
    font-size: 11px;
    margin-top: 19px;
  }
  .fonts__row__img {
    width: 183px;
  }
  .footer__row__third__list__item__link {
    font-size: 11px;
  }
  .footer__row__first__text {
    font-size: 13px;
  }

  .main__right__bc {
    top: 201px;
    left: 43%;
    width: 57%;
  }
  .main__left__info__arrow {
    width: 174px;
  }
  .options__item {
    font-size: 13px;
  }
  .options__item__active::before {
    width: 171px;
  }

  .creative__second__paragraph {
    font-size: 8px;
  }
  .creative__second__title {
    font-size: 17px;
  }
  .product__arrow__img {
    left: 415px;
  }

  .email__reg__right {
    left: 49%;
  }
  .email__reg__right__form__input {
    width: 305px;
  }
  .email__reg__right__address input {
    width: 305px;
  }
  .email__reg__right__checkbox span {
    font-size: 9px;
    margin-top: 20px;
  }
  .fonts__row__img {
    width: 170px;
  }
  .title {
    font-size: 16px;
  }
  .product__gallery__box {
    width: 345px;
  }
  .product__gallery__box__bot{
    width: 345px;
  }
  .footer__row__second__list {
    row-gap: 4px;
  }
  .footer__row__second__list__item__link {
    font-size: 14px;
  }
  .footer__row {
    column-gap: 41px;
  }
  .product__arrow__img {
    left: 483px;
  }
  .email__reg__left__bc {
    width: 437px;
  }
  .options__content__box-img {
    width: 87%;
  }
  .main__right__girl {
    top: 110px;
    left: 41%;
    width: 56%;
  }

  .options__caption {

    column-gap: 124px;
  }

}
@media (max-width: 820px) {
  .main__right__girl {
    top: 172px;
    width: 55%;
  }
  .options {
    padding: 94px 0;
  }
  .product__gallery__box {
    width: 304px;
  }
  .main__left__info__img {
    width: 175px;
    top: -37px;
    left: -40px;
  }
  .product__gallery__box__bot{
    width: 304px;
  }
  .product__gallery__box {
    width: 304px;
  }
  .options__content__box-img {
    width: 86%;
  }
  .options__content__box {
    height: 220px;
  }
  .email__reg__right {
    left: 51%;
    width: 51%;
  }
  .email__reg__left__bc {
    width: 415px;
  }

  .product__arrow__img {
    left: 443px;
  }
  .footer__row__second__list__item__link {
    font-size: 13px;
  }
  .email__reg__right__checkbox__button {
    width: 100px;
    height: 40px;
    margin-top: 4px;
    font-size: 13px;
  }
  .email__reg__right__form__input {
    width: 295px;
  }
  .email__reg__right__address input {
    width: 295px;
  }
}
@media (max-width: 760px) {

.creative__second__title {
  font-size: 12px;
}
  .options__content__box-img {
    width: 84%;
  }
  .options__content__box {
    height: 191px;
  }
  .email__reg__right {
    width: 48%;
    left: 53%;
  }
  .product__gallery__box {
    width: 265px;
  }
  .product__gallery__box__bot{
    width: 265px;
  }
  .product__arrow__img {
    left: 410px;
  }
  .product {
    padding-bottom: 80px;
  }
  .email__reg__right__box__title {
    font-size: 18px;
  }
  .email__reg__left__bc {
    width: 399px;
  }
  .email__reg__right__form__input {
    width: 260px;
  }
  .main__right__girl {
    top: 229px;
    width: 52%;
  }
  .email__reg__right__address input {
    width: 260px;
  }
  .email__reg__right__checkbox span {
    font-size: 8px;
    margin-top: 24px;
  }
  .footer__row__first__text {
    font-size: 11px;
  }
  .footer__row__second__list__item__link {
    font-size: 11px;
  }
  .overlay .popup__close {

    right: -52px;
  }



   .popup__top__title {
    font-size: 40px;
    padding: 47px 80px;
  }
  .overlay .popup__top__title {
    font-size: 40px;
    padding: 47px 80px;
  }
}
@media (max-width: 660px) {

  .main {
    height: 598px;
  }
  .main__right__bc {
    top: 322px;
    left: 50%;
    width: 50%;
  }
  .main__right__girl {
    top: 189px;
    width: 60%;
  }



  .overlay .popup__close {
    right: -57px;
  }

  .burger{
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 10;
    &__line{
      width: 40px;
      height: 3px;
      position: absolute;
      background-color: red;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &::before{
        content: '';
        width: 40px;
        height: 4px;
        position: absolute;
        background-color: red;
        top: -10px;
        transition: .8s;
      }
      &::after{
        content: '';
        width: 40px;
        height: 4px;
        position: absolute;
        background-color: red;
        top: 10px;
        transition: .8s;
      }
    }
  }

  .burger.active{
    display: flex;
    .burger__line{
      background-color: transparent;
      &::before{
        content: '';
        transform: rotate(45deg);
        transition: .8s;
        top: 0;
        left: 0;
      }
      &::after{
        content: '';
        transform: rotate(-45deg);
        transition: .8s;
        top: 0;
        left: 0;
      }
    }
  }


  .header__nav{
    display: flex;
    position: fixed;
    top: 0;
    right: -400px;
    transition: 1s;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: darkslateblue;
    z-index: 8;
    border-bottom-left-radius: 5px;
    .header__logo{
    display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
    }
    .header__right{
      display: flex;
      flex-direction: column;
      &__list{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
      }
    }
    button{
      margin: 20px 50px 0 ;
    }

  }

  .header__nav.active{
    right: 0;
    transition: 1s;
  }



  .overlay .popup__thanks__bot p {
    font-size: 20px;
  }
  .overlay .popup__thanks__top h3 {
    font-size: 24px;
  }
  .overlay .popup__thanks__bot .popup__thanks {
    margin-left: 104px;
  }

  .header__right__button {
    margin-left: 90px;
    width: 120px;
    height: 40px;
    font-size: 13px;
  }
  .options__content__box-img {
    width: 82%;
    height: 177px;
  }
  .main__left__info__arrow {
    width: 148px;
    top: 200px;
  }
  .main__left__info__title {
    font-size: 31px;
  }
  .main__left__info__img {
    width: 154px;
    top: -51px;
    left: -48px;
  }
  .options__item__active::before {
    width: 135px;
  }

  .creative__second__paragraph {
    font-size: 7px;
  }
  .creative__second__title {
    font-size: 10px;
  }
  .creative__button{
    width: 100px;
    height: 40px;
    font-size: 11px;
  }
  .creative__second__text {
    font-size: 11px;
  }
  .product__subtitle {
    font-size: 11px;
  }
  .product__gallery__box {
    width: 220px;
    height: 229px
  }
  .product__gallery__img {
    width: 100%;
  }
  .product__gallery__box__bot{
    width: 220px;
    height: 229px
  }
  .product__arrow__img {
    left: 358px;
  }
  .email__reg__left__bc {
    width: 346px;
  }
  .email__reg__right__form__input {
    width: 217px;
  }
  .email__reg__right__form__input {
    width: 217px;
  }
  .email__reg__right__address input {
    width: 217px;
  }
  .email__reg__right__checkbox span {
    font-size: 6px;
    margin-top: 24px;
  }
  .email__reg__right__checkbox__button {
    width: 94px;
    height: 35px;
    margin-top: 10px;
    font-size: 10px;
  }
  .footer__row {
    column-gap: 33px;
  }
  .fonts__row__img {
    width: 143px;
  }
  .footer__row__first__text {
    font-size: 10px;
    margin-left: 10px;
  }
  .footer__row__third__list__item__link {
    font-size: 10px;
  }
  .footer__row__second__list__item__link {
    font-size: 10px;
  }
  .footer__row__four__mail input {
    width: 115px;
    font-size: 10px;
  }
  .footer__row__four__button {
    font-size: 10px;
    width: 100px;
    height: 40px;

  }
  .email__reg__right {
    width: 50%;
  }
  .email__reg__left__img {
    left: -57px;
  }
.overlay{
  .popup{
    width: 400px;
    height: 600px;


  }
}

  .overlay .popup__bot__reg input {
    width: 304px;
    height: 70px;
  }
  .overlay .popup__top__title {
    padding: 17px 80px;
  }
  .overlay .popup__bot__reg__btn {
    margin-left: 51px;
  }

  .overlay__second .popup__footer{
    width: 400px;
    height: 600px;
  }
  .overlay__second .popup__footer__content-top h4 {
    font-size: 21px;
  }
  .overlay__second .popup__footer__content-bot_menu li::before {
    width: 85%;
    height: 85%;
  }

  [class^="bb-"]:before, [class*=" bb-"]:before {
    position: absolute;
    top: -18px;
    left: -27px;
  }

}
@media (max-width: 580px) {
  .product__gallery__box {
    width: 167px;
    height: 174px;
  }
  .product__gallery__box__bot{
    width: 167px;
    height: 174px;
  }
}
@media (max-width: 520px){
  .main {
    height: 487px;
  }
  .main__right__bc {
    top: 206px;
  }
  .main__left {
    width: 50%;
    padding-top: 15px;
  }

  .main__left__info__title {
    font-size: 23px;
  }
  .main__right__girl {
    top: 165px;
    width: 60%;
  }


  .main__left__info__img {
    width: 101px;
    top: -59px;
    left: -59px;
  }
  .main__left__info__button{
    width: 110px;
    height: 40px;
    font-size: 11px;
  }
  .main__left__info__text {
    font-size: 6px;
  }
  .main__left__info__arrow {
    display: none;

  }
  .options__content__box-img {
    width: 77%;
    height: 150px;
  }
  .options__item {
    font-size: 12px;
  }
  .options__item__active::before {
    width: 114px;
  }

  .product__gallery__box {
    width: 148px;
    height: 154px;
  }
  .product__gallery__box__bot {
    width: 148px;
    height: 154px;
  }
  .product__arrow__img {
    left: 286px;
  }

  .email__reg__left__img {
    left: -50px;
    width: 380px;
    height: 547px;
  }
  .email__reg__left__bc {
    width: 277px;
  }
  .email__reg__right {
    padding: 75px 30px;
  }
  .email__reg__right__box__title {
    font-size: 13px;
  }
  .email__reg__right__form__input {
    width: 195px;
  }
  .email__reg__right__address input {
    width: 195px;
  }
  .fonts__row__img {
    width: 107px;
  }
  .footer__row__second__list__item__link {
    font-size: 7px;
  }
  .title {
    font-size: 11px;
  }
  .footer__row__third__list__item__link {
    font-size: 8px;
  }
  .footer__row__first__text {
    font-size: 8px;
    margin-left: 4px;
  }
  .footer__row__four__mail input {
    padding-left: 9px;

  }
  .footer__row__third {
    margin: 0 10px 102px;
  }
  .overlay{
    .popup{
      width: 350px;
      height: 500px;
    }
  }
  .overlay .popup__bot__reg input {
    width: 217px;
    height: 42px;
  }
  .overlay .popup__top__title {
    padding: 17px 57px;
    font-size: 30px;
  }
  .overlay .popup__bot__reg__btn {
    width: 190px;
    height: 39px;
    background-color: #F59B00;
    margin-left: 8px;
    font-size: 13px;

  }
}
@media (max-width: 435px) {

  .options__caption {
    column-gap: 65px;
  }
  .options__item {
    font-size: 9px;
  }
  .options__item__active::before {
    width: 89px;
  }

  .creative__second__text {
    font-size: 9px;
  }
  .creative__second__title {
    font-size: 8px;
  }
  .creative__second__paragraph {
    font-size: 5px;
  }
  .creative__button {
    width: 98px;
    height: 37px;
    font-size: 8px;
  }
  .creative__first__img {
    width: 141%;
  }
  .product__title {
    font-size: 23px;
  }
  .product__subtitle {
    font-size: 8px;
  }
  .product__gallery__box {
    width: 109px;
    height: 110px;
  }
  .product__gallery__box__bot{
    width: 109px;
    height: 110px;
  }
  .product__arrow__img {
    left: 244px;
  }
  .email__reg__left__bc {
    width: 223px;
    height: 456px
  }
  .email__reg__left__img {
    left: -39px;
    width: 314px;
    height: 455px;
  }
  .email__reg__right__form__input {
    width: 153px;
    height: 30px;
    font-size: 11px
  }
  .email__reg__right__address input {
    width: 153px;
    height: 30px;
    font-size: 11px
  }
  .email__reg__right {
    height: 456px;
    left: 52%;
  }
  .email__reg__right__checkbox__button {
    width: 110px;
    height: 30px;
    font-size: 7px;
  }
  .email__reg__right__checkbox span {
    font-size: 4px;
  }
  .fonts__row__img {
    width: 84px;
  }
  .footer__row {
    column-gap: 28px;
  }
  .footer__row__third__list__item__link {
    font-size: 6px;
  }
  .footer__row__four__mail input {
    width: 81px;
    font-size: 7px;
    height: 37px;
  }
  .footer__row__four__button {
    font-size: 7px;
    width: 79px;
    height: 36px;
  }
  .main__left__paragraph {
    padding-top: 76px;
  }
  .main {
    height: 418px;
  }
  .main__right__girl {
    top: 149px;
  }
  .main__right__bc {
    top: 237px;
  }
  .options__content__box-img {
    width: 70%;
    height: 100px;
  }
  .overlay__second .popup__footer {
    width: 365px;
    height: 600px;
  }
  .overlay__second .popup__footer__close {

    right: -29px;
  }
}
@media (max-width: 365px){
  .main__left__info__title {
    font-size: 18px;
  }
  .main__left__info__img {
    width: 76px;
    top: -65px;
    left: -68px;
  }
  .main__left__info__text {
    font-size: 5px;
  }
  .main__left__info__button {
    width: 100px;
    height: 36px;
    font-size: 9px;
  }
  .main {
    height: 369px;
  }
  .main__right__girl {
    top: 141px;
  }
  .options__caption {
    column-gap: 53px;
  }
  .options__content__box-img {
    width: 67%;
    height: 75px;
  }

  .creative__first {
    margin-left: 25px;
  }
  .creative__second__title {
    font-size: 7px;
  }
  .creative__second__text {
    font-size: 7px;
  }
  .creative__second__paragraph {
    font-size: 4px;
  }
  .product__title {
    font-size: 19px;
  }
  .product__arrow__img {
    left: 207px;
  }
  .email__reg__right__form__input {
    width: 119px;
    height: 30px;
    font-size: 11px;
  }
  .email__reg__right__box__title {
    font-size: 11px;
  }
  .email__reg__right__checkbox span {
    display: none;
  }
  .email__reg__right__checkbox input {
    width: 34px;
  }
  .email__reg__right__checkbox__button {
    margin-top: 6px;
  }
  .email__reg__right__form {
    padding: 18px 0 30px;
    row-gap: 21px;
  }
  .email__reg__right {

  }
  .email__reg__right {
    height: 348px;
    left: 50%;
  }
  .email__reg__right__address input {
    width: 120px;
    font-size: 10px;
  }
  .email__reg__left__bc {
    width: 178px;
    height: 348px;
  }
  .email__reg__left__img {
    left: -37px;
    width: 269px;
    height: 347px;
  }
  .fonts__row__img {
    width: 67px;
  }
  .footer__row__second {
    row-gap: 0;
  }
  .title {
    font-size: 8px;
  }
  .footer__row__first__text {
    font-size: 7px;
  }
  .footer__row {
    column-gap: 18px;
  }
  .footer__row__four__mail input {
    width: 59px;
    font-size: 5px;
    height: 32px;
  }
  .product__arrow__img {
    left: 219px;
  }
  .footer__row__four__button {
    font-size: 6px;
    width: 62px;
    height: 25px;
  }
  .footer__row__first__img{
    width: 35px;
  }
  .overlay__second .popup__footer {
    width: 323px;
    height: 596px;
  }
  .overlay__second .popup__footer__content-top h4 {
    font-size: 18px;
  }
}

